.social-login
    button.social-login--github
        span
            i.fab.fa-github-square
            |continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook-square
            |continue with Facebook